<h1>{{title}}</h1>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/login">Login</a>
</nav>
<mtz-ajax-interceptor>
  <mtz-auth #auth
    [(auth-token)]="authToken"
  ></mtz-auth>
  <mtz-auth-interceptor
    #authInt
  ></mtz-auth-interceptor>
  <mtz-url-rewrite-interceptor
    #rewriteInt
    pattern=".salesnext.com"
    replacer="-api.salesnext.com"
    rewrite-matcher="/api/rest/"
    local-base-url="https://d-demo-ci.salesnext.com"
  ></mtz-url-rewrite-interceptor>

  <div
    (upload-before)="rewrite($event)"
    (ci-url-rewrite)="rewrite($event)"
    (profile-picture-src)="rewrite($event)"
    >
    <router-outlet></router-outlet>
  </div>
  <app-messages></app-messages>


</mtz-ajax-interceptor>
